In [1]:
import pandas as pd
import numpy as np
import orca
from platform import python_version
# import os; os.chdir('/home/amelia/activitysynth/activitysynth/')
import os; os.chdir('/home/amelia/ual_model_workspace/spring-2019-models')

print(python_version())

3.6.7

In [2]:
from scripts import datasources, models, variables, utils

/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/urbansim-3.1.1-py3.6.egg/urbansim/utils/yamlio.py:162: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  d = yaml.load(f)

Registering model step 'auto_ownership'
Registering model step 'TOD_choice'
Registering model step 'primary_mode_choice'
Registering model step 'WLCM'

In [3]:
import scripts
scripts.__path__

['/home/amelia/ual_model_workspace/spring-2019-models/scripts']

In [4]:
orca.run(['initialize_network_small', 'initialize_network_walk','impute_missing_skims'])

Running step 'initialize_network_small'
Time to execute step 'initialize_network_small': 0.01 s
Running step 'initialize_network_walk'
Time to execute step 'initialize_network_walk': 0.00 s
Running step 'impute_missing_skims'

/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Time to execute step 'impute_missing_skims': 95.32 s
Total time to execute iteration 1 with iteration value None: 95.33 s

In [6]:
parcels = orca.get_table('parcels').to_frame()
parcels.head()

/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:82: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  nodes_df.astype('double').as_matrix(),
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:83: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  edges.as_matrix(),
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:85: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  .astype('double')
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:91: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  self.kdtree = KDTree(nodes_df.as_matrix())
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:371: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  distances, indexes = self.kdtree.query(xys.as_matrix())
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/orca/orca.py:638: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  expressions=self._argspec.defaults)
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/orca/orca.py:638: DtypeWarning: Columns (9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  expressions=self._argspec.defaults)
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:82: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  nodes_df.astype('double').as_matrix(),
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:83: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  edges.as_matrix(),
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:85: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  .astype('double')
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:91: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  self.kdtree = KDTree(nodes_df.as_matrix())
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:371: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  distances, indexes = self.kdtree.query(xys.as_matrix())

,proportion_undevelopable,development_type_id,parcel_id_local,block_id,acres,geom_id,shape_area,apn,tax_exempt_status,county_id,y,x,land_value,imputation_flag,zone_id,node_id,node_id_small,node_id_walk
parcel_id,,,,,,,,,,,,,,,,,,
229116,0.0,1,,060014511022061,3.360520,10305106092872,1.359956e+04,099 029001700,0,1,37.655379,-121.795620,0.0,_,725,22861,53103254,53091636
244166,0.0,1,,060014511011025,1.294423,11107351665227,5.238348e+03,099B540210200,0,1,37.717277,-121.713004,0.0,_,715,14287,53026359,53059159
202378,0.0,25,,060014351031029,14.993605,11030175960628,6.067702e+04,085A643106000,1,1,37.655260,-122.014199,6036500.0,merged,820,560,1706630465,1852532916
2004420,0.0,-1,,060971541003180,316.247146,6381677629073,1.279808e+06,141-100-012,0,97,38.727893,-122.771868,179954.0,"_, nr_zone_yrblt, bsqft_from_nrsqft, stories1",1401,63607,4533108955,304716887
340332,0.0,2,,060014419272014,0.621275,314875459798,2.514215e+03,525 166004800,0,1,37.546277,-121.974508,0.0,_,763,7502,1666841915,2397935818

In [ ]:
# store = pd.HDFStore('/home/data/spring_2019/outputs/model_data_output.h5') #sometimes doesnt work with a relative file path
# households_10 = store['/2010/households']
# store.close()

# print(store.keys())

In [5]:
hh = orca.get_table("households").to_frame().reset_index()

/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/orca/orca.py:958: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  variables[label] = thing()
/home/amelia/ual_model_workspace/spring-2019-models/scripts/datasources.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['res_sqft_per_unit'][df['res_sqft_per_unit'] == np.inf] = 0
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:82: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  nodes_df.astype('double').as_matrix(),
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:83: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  edges.as_matrix(),
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:85: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  .astype('double')
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:91: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  self.kdtree = KDTree(nodes_df.as_matrix())
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:371: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  distances, indexes = self.kdtree.query(xys.as_matrix())
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/orca/orca.py:638: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  expressions=self._argspec.defaults)
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/orca/orca.py:638: DtypeWarning: Columns (9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  expressions=self._argspec.defaults)
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:82: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  nodes_df.astype('double').as_matrix(),
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:83: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  edges.as_matrix(),
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:85: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  .astype('double')
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:91: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  self.kdtree = KDTree(nodes_df.as_matrix())
/home/amelia/enter/envs/template-env/lib/python3.6/site-packages/pandana/network.py:371: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  distances, indexes = self.kdtree.query(xys.as_matrix())

In [9]:
hh.columns
# hh["tract"]

Index(['household_id', 'base_income_quartile', 'building_id', 'block_group_id',
       'serialno', 'workers', 'recent_mover', 'unit_id', 'base_income_octile',
       'children', 'persons', 'state', 'block_group', 'income', 'tract',
       'tenure', 'hispanic_head', 'building_type', 'race_of_head',
       'age_of_head', 'single_family', 'cars', 'node_id_small', 'node_id_walk',
       'hh_inc_under_25k', 'hh_inc_25_to_75k', 'hh_inc_75_to_200k', 'tenure_1',
       'tenure_2', 'tenure_3', 'tenure_4', 'single_family_int',
       'building_type_2', 'hh_inc_150kplus', 'hh_size_1per'],
      dtype='object')

In [13]:
crosswalk = pd.read_csv("/home/amelia/activitysynth/activitysynth/geocorr2018.csv")
crosswalk = crosswalk.drop(crosswalk.index[0])

crosswalk.head()

,county,tract,state,placefp14,stab,cntyname,placefp,placenm,placenm14,intptlon,intptlat,pop10,afact,AFACT2
1,06001,4001.00,06,53000,CA,Alameda CA,,,"Oakland city, CA",-122.230389,37.859419,2937,1,0.007514
2,06001,4002.00,06,53000,CA,Alameda CA,,,"Oakland city, CA",-122.249525,37.848292,1974,1,0.00505
3,06001,4003.00,06,53000,CA,Alameda CA,,,"Oakland city, CA",-122.254416,37.840265,4865,1,0.012447
4,06001,4004.00,06,53000,CA,Alameda CA,,,"Oakland city, CA",-122.257311,37.848452,3703,1,0.009474
5,06001,4005.00,06,53000,CA,Alameda CA,,,"Oakland city, CA",-122.264743,37.848942,3517,1,0.008998

In [16]:
# hh["tract2"] = (hh["tract"].astype(int)/100).astype(str)
# hh["tract2"]

In [17]:
place_assigned = pd.merge(hh, crosswalk, left_on='tract2', right_on='tract')
place_assigned.head()

,household_id,base_income_quartile,building_id,block_group_id,serialno,workers,recent_mover,unit_id,base_income_octile,children,...,stab,cntyname,placefp,placenm,placenm14,intptlon,intptlat,pop10,afact,AFACT2
0,1,1,1579443,60855009011,2013000554587,1.0,0,1711818,2,0.0,...,CA,Santa Clara CA,,,"San Jose city, CA",-121.885045,37.335085,3723,1,0.003907
1,2,1,1365639,60855009011,2011001140920,1.0,0,1711727,1,0.0,...,CA,Santa Clara CA,,,"San Jose city, CA",-121.885045,37.335085,3723,1,0.003907
2,3,1,647211,60855009011,2012001376432,1.0,0,1711548,2,0.0,...,CA,Santa Clara CA,,,"San Jose city, CA",-121.885045,37.335085,3723,1,0.003907
3,4,1,309586,60855009011,2013000186929,0.0,0,1711121,1,0.0,...,CA,Santa Clara CA,,,"San Jose city, CA",-121.885045,37.335085,3723,1,0.003907
4,5,1,409167,60855009011,2013000178279,1.0,0,1711301,2,0.0,...,CA,Santa Clara CA,,,"San Jose city, CA",-121.885045,37.335085,3723,1,0.003907

In [20]:
place_assigned = place_assigned[['base_income_quartile', 'tenure', 'age_of_head', 'block_group_id',
       'serialno', 'workers', 'recent_mover', 'unit_id', 'base_income_octile',
       'cars', 'persons', 'state_x', 'block_group', 'tract_x', 'income',
       'hispanic_head', 'building_type', 'race_of_head', 'building_id',
       'single_family', 'children',"tract2", "placefp14", "placenm14"]]
place_assigned.to_csv("/home/amelia/activitysynth/activitysynth/output/hh_cities.csv")